h1 {
    color: black;
    text-shadow : 2px 2px;
   
}

body   
{
    background-color :  beige ; 

}

.responsive {
    width: 100%;
    height: auto;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

